<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <!-- <link rel="stylesheet" href="/home.css"> -->
  </head>

  <body>
    <h1>INTERESTING ARTICLES</h1>

    <form action="/articles" method="post">
      <label for=article>Article Title:</label>
      <input type="text" id="article" name="article">

      <label for=article>URL:</label>
      <input type="text" id="article" name="url_info">

      <label for=article>Description:</label>
      <input type="text" id="article" name="description">

      <input type="submit">

    </form>
  </body>
</html>
